{% extends 'rango/base.html' %}
{% load staticfiles %}

{%  block title_block %}
		About
{% endblock %}

{% block body_block %}
		<div>
			<img src = "{% static "images/about.png" %}" alt="Title Picture"/>
			<p1>page!</p1>
		</div>
	<br><hr>
		<div>
			<p1>{{catmessage}}</p1>
		</div>
        <div>
            Visits to page: {{ visits }}<br />
        </div>
			<img src = "{{ MEDIA_URL }}cat.jpg" alt="Pic of Cat"/>
	<br><hr>
		<div>
			<font size = 2>{{tutorialmessage}}<strong>{{name}}</strong></font>
		</div>
{% endblock %}